.wrapper {
    
    border-radius: 15px;
    padding: 1.7rem;
}


.projectImgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 15px;

}

img {
    margin: 1rem;
}
