.about{
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    background: var(--dark);
    border-radius: 20px;
    width: 85%;
    height: 70%;
    margin: 2rem auto;
    
  }

  h2 {
    padding-top: -2rem;
    padding-bottom: 1rem;
  }

  .what {
    padding-bottom: 2rem;
  }