.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.projImg {
    margin: 1rem;
}

a {
    color: white;
}

a :hover {
    color: var(--yellow);
    text-decoration: none;
}

