

.wrapper {
    background-color: var(--dark);
    border-radius: 15px;
    margin: 2rem;
}

form {
    color: white;
}

label {
    font-size: 1.5rem;
}

.emailB {

}

.subButton {
    background-color: var(--dark);
    padding: 3rem;
}

input {
    background-color: white;
    color: black;
    padding: 0.5rem;
    margin: 1.5rem;
    border-radius: 15px;
    border-color: var(--dark);
    text-align: left;
}