@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat');

:root {
  --darkest: #333;
  --darker: #494949;
  --dark: #595959;
  --yellow: #f9f77a;
}

* {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.topbar {
  margin-bottom: 7rem;
}

body{
  background-color: var(--darker);
}

h1{
  font-family: 'Merriweather', serif;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

h2{
  font-family: 'Merriweather', serif;
  margin-top: 2rem;
}

a {
  font-family: 'Merriweather', serif;
}

.req {
  margin-top: 3rem;
  margin-bottom: 4rem;
  margin-right:  auto;
  margin-left: auto;
  background-color: var(--dark);
  width: 100%;
  border-radius: 15px;
  padding: 0.5rem;
  
}
