:root {
  --darker: #494949;
  --dark: #595959;
}

* {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.topbar {
  margin-bottom: 7rem;
}

body{
  background-color: var(--darker);
}

h1{
  margin-top: 2rem;
  margin-bottom: 4rem;
}

h2{
  margin-top: 2rem;
}

